In [86]:
import pandas as pd

In [87]:
df = pd.read_csv('/Users/estorrs/Downloads/13059_2014_3364_MOESM1_ESM/supplementary_table_2-Table 1.csv')

In [88]:
df = df[['CHR', 'POS', 'VariationName', 'VT', 'VLENGTH', 'Ancestralallele', 'Consequencespecificallele']]

In [89]:
df.head(10)

,CHR,POS,VariationName,VT,VLENGTH,Ancestralallele,Consequencespecificallele
0,13,106835388,rs9519977,SNP,1,A,na
1,1,116935068,rs10924081,SNP,1,G,A/G
2,3,146978905,rs4059271,INDEL,3,na,T/G
3,8,140933740,rs55726039,SNP,1,T,T/C
4,3,5775231,rs1811510,SNP,1,T,na
5,10,68591682,rs10762111,SNP,1,A,T/A
6,22,50704357,rs11704249,SNP,1,C,C/T
7,2,235946882,na,INDEL,3,na,na
8,1,91200757,rs76306981,INDEL,2,na,na
9,10,111924518,rs11814770,SNP,1,T,na

In [90]:
def get_alternate(reference, consequence):
    pieces = consequence.split('/')
    if pieces[0] == reference:
        return pieces[1]
    return pieces[0]

def populate_alternate(df):
    filtered = pd.DataFrame()
    for i, row in df.iterrows():
        # just do snps for now
        if row['VLENGTH'] == 1:
            if row['Ancestralallele'] != 'na' and row['Consequencespecificallele'] != 'na':
                row['Alternate'] = get_alternate(row['Ancestralallele'], row['Consequencespecificallele'])
                filtered = filtered.append(row)
    return filtered

In [91]:
df = df.astype({'POS': str, 'CHR': str})

In [92]:
df = populate_alternate(df)

In [93]:
position_df = df[['CHR', 'POS']]
alleles_df = df[['CHR', 'POS', 'Ancestralallele', 'Alternate']]

In [82]:
alleles_df[df['CHR']=='22']

     CHR       POS Ancestralallele Alternate
6     22  50704357               C         T
74    22  48228760               C         T
215   22  45549032               T         C
280   22  46771921               C         T
389   22  25914727               G         C
497   22  22547460               T         C
830   22  35534933               G         C
863   22  46500164               C         G
956   22  45279529               A         G
1005  22  29854959               T         C

In [98]:
position_df.to_csv(open('/Users/estorrs/Documents/ding/ancestry/positions.tsv', 'w'), sep='\t', header=None, index=None)
alleles_df.to_csv(open('/Users/estorrs/Documents/ding/ancestry/alleles.tsv', 'w'), sep='\t', header=None, index=None)